<div class="container-12">
  <h3>Register Here</h3>
  <form name="userAddForm" [formGroup]="userAddForm">
    <div class="form-group" *ngIf="notificationShow">{{message}}</div>
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" name="txtUserName" formControlName="txtUserName" class="form-control" placeholder="Your Username *" value="" [(ngModel)]="formData.username" />
        <span *ngIf="submitted == true && userAddForm.controls['txtUserName'].invalid" class="bg-danger jasmine-result-message uk-pull-3-10">
          User Name is invalid.
        </span>
      </div>
      <div class="form-group col-md-6">
        <input type="email" name="txtEmailId" formControlName="txtEmailId" class="form-control" placeholder="Your Email *" value="" [(ngModel)]="formData.email" />
        <span *ngIf="submitted == true && userAddForm.controls['txtEmailId'].invalid" class="bg-danger jasmine-result-message uk-pull-3-10">
          Email is invalid.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" name="txtFirstname" formControlName="txtFirstname" class="form-control" placeholder="Your First Name *" value="" [(ngModel)]="formData.firstname" />
        <span *ngIf="submitted == true && userAddForm.controls['txtFirstname'].invalid " class="bg-danger jasmine-result-message uk-pull-3-10">
          First name is invalid.
        </span>
      </div>
      <div class="form-group col-md-6">
        <input type="text" name="txtLastname" formControlName="txtLastname" class="form-control" placeholder="Your Last Name *" value="" [(ngModel)]="formData.lastname" />
        <span *ngIf="submitted == true && userAddForm.controls['txtLastname'].invalid" class="bg-danger jasmine-result-message uk-pull-3-10">
          Last name is invalid.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <input type="password" formControlName="txtPassword" name="txtPassword" class="form-control" placeholder="Your Password *" value="" [(ngModel)]="formData.password" />
        <span *ngIf="submitted == true && userAddForm.controls['txtPassword'].invalid" class="bg-danger jasmine-result-message">
          Password is invalid.
        </span>
      </div>
      <div class="form-group col-md-6">
        <input type="text" formControlName="txtUserRole" name="txtUserRole" class="form-control" placeholder="Your Role *" value="" [(ngModel)]="formData.userrole" />
        <span *ngIf="submitted == true && userAddForm.controls['txtUserRole'].invalid" class="bg-danger jasmine-result-message">
          User role is invalid.
        </span>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-success btnSubmit" value="Add" (click)="onCreate(formData)" />
    </div>
  </form>
</div>
